*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 85vh;
}

header {
    background: #085e9c;
    border-bottom: 2px solid rgb(255, 255, 255);
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header h1 a {
    color: white;
    text-decoration: none;
}

header h1 a img{
    margin-top: 10px;
    width: 182px;
}

nav ul {
    display: flex;
    gap: 50px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    
}

nav ul li a:hover {
    color: rgb(34, 31, 31);
    text-decoration: underline;
    text-decoration-thickness: 2px; /* Espessura do traço da linha de decoração */
    text-underline-offset: 8px; /*Distância de deslocamento de uma linha de decoração de texto */
}

/* nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 7vh;
    background-color: #085e9c;
} */

/* a {
    color: white;
    text-decoration:none;
} */

.artigo {
    border: 1px solid #085e9c;
    padding: 5px;
    border-radius: 5px;
    background-color: #085e9c;
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 90vh;
}

.text{
    border: 1px solid rgb(255, 0, 0);
    padding: 40px;
    text-align: justify;
    text-indent: 25px;
    width: 50vw;
    min-height: 80vh;
    /* background-color: white; */
    transform: scale(1.05);
    box-shadow: 0 0 20px;
    background-color: rgba(224, 224, 224, 0.6);
    border-radius: 10px;
}

.logo {
    margin-top: 10px ;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: #085e9c;
    font-family: "lucida sans unicode", "lucida grande", sans-serif;
    
}

